---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Redirecting...">
  <script>
    window.location.href = '/alumni/profiles';
  </script>
  <p>Redirecting to <a href="/alumni/profiles">/alumni/profiles</a>...</p>
</Layout>
